%font-primary {
  font-family: 'Georgia Regular', serif;
}
%font-additional {
  font-family: 'Arial Regular', sans-serif;
}
%font-italic {
  font-family: 'Arial Italic', Verdana, sans-serif;
}

%transition {
    transition: all 0.5s ease-in-out;
}