// Sizes
$content-width: 1240px;
$desktop-width: 1279.98px;
$tablet-width: 767.98px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

// Colors
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-light:#FFFFFF;
$color-light-section-shadow: #F6F6F6;
$color-light-card-shadow: #FAFAFA;
$color-dark-light: #CDCDCD;
$color-dark-medium: #B2B2B2;
$color-modal-bg: rgba(41, 41, 41, 0.6);
$color-text: #4C4C4C;
$color-btn-text: #292929;
$color-h2: #545454;


// Bacground
$background-start-screen: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) #211F20;
$background-footer: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%) #211F20;

// Letter-spacing
$letter-spacing:  0.05em;
