.layout-3-column {
 /*  height: 435px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; */
  // display: flex;
  /* width: 990px;
  height: 435px; */
  // flex-direction: row;
  // flex-wrap: nowrap;
  // overflow: hidden;
  
}